{{ define "main" }}

<header class="title-area">
    <div class="logo-area">
        <a class="logo" href={{ .Site.BaseURL }}>みるを温泉</a>
    </div>
    <div class="content-wrapper" style="min-height: calc(45vh - 100px);">
        <h1 style="color: white; position: absolute; bottom: 10px">#{{ .Title }}</h1>
    </div>
</header>

<div class="content-wrapper" style="padding-top: 50px">
{{ range $elem := .Paginator.Pages }}
    <div>
        {{ if $elem.Content }}
        <div class="author-date">
            <p>by <b><a href="/profile" style="color: #545454">{{ $elem.Params.author }}</a></b>, {{ $elem.PublishDate.Format "2006年1月2日 3:04" }}</p>
        </div>
        {{ end }}
        <a href={{ .Permalink }}><h1>{{ $elem.Title }}</h1></a>
        <p>{{ range $elem.Params.tags }}
            <span class='hashtag'><a href="/tags/{{ . }}">#{{ . }}</a></span>
            {{ end }}
        </p>
        <p>{{ $elem.Summary }}</p>
        <div>
            <a href={{ .Permalink }}>READ MORE</a>
        </div>
        <br>
    </div>
{{ end }}
    <div class="pagination-div">
        <div class="prev-page-div">{{ if $.Paginator.HasPrev }}<a href="{{ $.Paginator.Prev.URL }}">{{ end }}前のページ</a></div>
        <div class="next-page-div">{{ if $.Paginator.HasNext }}<a href="{{ $.Paginator.Next.URL }}">{{ end }}次のページ</a></div>
    </div>
</div>

{{ end }}