{{ define "main" }}

<header class="title-area">
    <div class="logo-area">
        <a class="logo" href={{ .Site.BaseURL }}>みるを温泉</a>
    </div>
    <div class="content-wrapper" style="min-height: calc(45vh - 100px);">
        <h1 style="color: white; position: absolute; bottom: 10px">みるを温泉</h1>
    </div>
</header>

<div class="content-wrapper" style="padding-top: 50px">
    <img style="float: left" width="64" src="/profile.png">
    <h1 style="padding-left: 80px">miruo</h1>
    <p style="padding-top: 20px">
        みるをです
    </p>
    <a href="https://twitter.com/miruohotspring">twitter</a>
    <a href="https://github.com/miruohotspring">github</a>
</div>

{{ end }}