{{ define "main" }}

<header class="title-area">
    <div class="logo-area">
        <a class="logo" href={{ .Site.BaseURL }}>温泉</a>
    </div>
    <div class="content-wrapper" style="min-height: calc(45vh - 100px);">
        <h1 style="color: white; position: absolute; bottom: 10px">温泉</h1>
    </div>
</header>

<div class="content-wrapper" style="padding-top: 50px">
{{ range .Site.RegularPages }}
    <div>
        <div class="author-date">
            <p>by <b><a href="/profile" style="color: #545454">{{ .Params.author }}</a></b>, {{ .PublishDate.Format "2006年1月2日 3:04" }}</p>
        </div>
        <a href={{ .Permalink }}><h1>{{ .Title }}</h1></a>
        <p>{{ range .Params.tags }}
            <span class='hashtag'><a href="/tags/{{ . }}/">#{{ . }}</a></span>
            {{ end }}
        </p>
        <p>{{ .Summary }}</p>
        <div>
            <a href={{ .Permalink }}>READ MORE</a>
        </div>
    </div>
{{ end }}
</div>

{{ end }}